.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

#frame,
#outimg {
  /* margin: 1%; */
  margin-left: 1%;
  max-width: 47%;
  max-height: 69vh;
}

#canvas-bg {
  /* margin: 1%; */
  max-width: 100%;
  max-height: 69vh;
  display: table;
}

#canvas-div {
  /* padding-bottom: 1%; */
  /* padding: 0; */
  /* margin: 0; */
  border: 1px solid red;
  max-width: 100%;
  /* height: 100%; */
  margin: 0;
  display: inline-block;
  position: relative;
}

#covering-canvas {
  /* border: 1px solid red; */
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0px;
  left: 0px;
  z-index: 100;
  cursor: crosshair;
  /* background-color: rgba(255, 0, 0, 0.1); */
}

.img2 {
  margin-left: 1%;
  max-width: 32%;
  max-height: 69vh;
}

h3 {
  margin-bottom: 10px;
}

body {
  text-align: center;
}
